/log/*
/storage/*
/tmp/*
/public/assets
/public/sitemaps/sitemap.*
/public/spree/slides
.byebug_history
.dockerignore
.git
.gitignore
.ruby-version
build*
docker-compose*
Dockerfile*
set-env-dev.sh
start-sidekiq.sh