<main class="page-contents">
  <div class="page-404">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <form>
          <nav class="breadcrumb-wrap d-flex flex-wrap align-items-center justify-content-between">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">404</li>
            </ol>
          </nav>
          <h1 class="title mb-15">Ooops…</h1>
          <div class="sm-title mb-60">PAGE NOT FOUND.<br>
            This link is broken or the page has been moved.</div>
          <div class="form-group form-floating mb-20">
            <input type="text" class="form-control" placeholder="Search for flavors and more…">
            <label>Search for flavors and more…</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="latest-deals">
          <div class="title-wrap d-flex align-items-start justify-content-between margin-0">
            <div class="left">
              <div class="sm-title">Natures Flavors</div>
              <h3 class="title">Latest Deals</h3>
            </div>
            <div class="right"><a href="#" class="btn btn-primary">All Deals</a></div>
          </div>
          <div class="products-wrapper d-lg-flex align-items-start">
            <div class="product-wrap"> <a href="#">
              <div class="product-img"> <%= image_tag "product-thumb-1.jpg" %>
                <div class="price"><span>$24.51</span>$13.51</div>
              </div>
              <div class="product-desc">
                <h4>Acorn Flavored Powder, Natural</h4>
              </div>
              </a> </div>
            <div class="product-wrap"> <a href="#">
              <div class="product-img"> <%= image_tag "product-thumb-2.jpg" %>
                <div class="price"><span>$24.51</span>$13.51</div>
              </div>
              <div class="product-desc">
                <h4>Acai Compound, Natural</h4>
              </div>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>