<main class="page-contents">
<div class="page-404">
  <div class="row no-gutters">
    <div class="col-lg-6">
      <form>
        <nav class="breadcrumb-wrap d-flex flex-wrap align-items-center justify-content-between">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" data-turbolinks="false">Home</a></li>
            <li class="breadcrumb-item active">500</li>
          </ol>
        </nav>
        <h1 class="title mb-15">We're sorry, but something went wrong.</h1>
        <div class="sm-title mb-60">If you need assistance, please email us at <a href="mailto:customerservice@naturesflavors.com">customerservice@naturesflavors.com</a></div>
      </form>
    </div>
  </div>
</div>
</main>