<main class="main-contents error_page">
  <div class="container">
    <div>
      <h1>We're sorry, but something went wrong.</h1>
    </div>
    <p>If you need assitance, please email us at <a href="mailto:customerservice@seelecttea.com">customerservice@seelecttea.com</a></p>
  </div>
</main>