<main class="main-contents error_page">
  <div class="container">
      <%= image_tag 'errors/404.jpg', class: "img-responsive" %>
      <h1><strong>Hmm…something went wrong.</strong></h1>
      <p>It seems you stumbled on a page that does not exist. No need to worry. Simply, head over to our menu bar above.</p>
      <p>If you need assitance, please email us at <a href="mailto:customerservice@seelecttea.com">customerservice@seelecttea.com</a></p>
  </div>
</main>