<main class="main-contents error_page">
  <div class="container">
    <div>
      <h1>The change you wanted was rejected.</h1>
      <p>Maybe you tried to change something you didn't have access to.</p>
    </div>
    <p>If you need assitance, please email us at <a href="mailto:customerservice@seelecttea.com">customerservice@seelecttea.com</a></p>
  </div>
</main>