<div id="cart-detail" data-hook="cart_items_headers" data-hook  >
  <div id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </div>
</div>
<% if @order&.errors&.any? %>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      document.getElementById('overlay').classList.add('shown');
      document.getElementById('no-product-available').classList.add('shown');
      window.scrollTo(0, 0);
    })
  </script>
<% end %>