<tr>
  <td></td>
  <td>
    <p class="f-fallback purchase_total purchase_total--label">
      <strong>Amount Charged:</strong>
    </p>
  </td>
  <td>
    <p class="f-fallback purchase_total">
      <strong><%= Spree::Money.new(order.order_total_after_store_credit, currency: order.currency) %></strong>
    </p>
  </td>
</tr>
