<div class="product-comments-wrapper" id="ask-question">
    <div class="row no-gutters">
        <div class="col-xl-1 tablet-hide"></div>
        <div class="col-xl-9 col-lg-7">
            <div class="product-comments" data-hook="product_show_reviews_widget">
                <div class="title">Customer Reviews</div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3"></div>
    </div>
</div>