<!-- <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle"><%#= Spree.t(:description) %></h3>

<%# if Spree::Config[:show_raw_product_description] || product_wysiwyg_editor_enabled? %>
  <div id="product-description-long" class="m-0 text-break product-description" data-hook="description">
    <%#= raw product_description(@product) %>
  </div>
<%# else %>
  <div id="product-description-short" class="m-0 text-break product-description" data-hook="short-description">
      <%#= sanitize product_description(@product).truncate(450) %>
  </div>
  <div id="product-description-long" class="m-0 text-break product-description d-none" data-hook="description">
    <%#= sanitize product_description(@product) %>
  </div>
  <%# if product_description(@product).length > 450 %>
    <span id="product-description-arrow" class="d-flex justify-content-center align-items-center mt-3 mx-auto product-description-arrow" aria-hidden="true">
      <%#= icon(name: 'arrow-right',
               classes: 'spree-icon-arrow spree-icon-arrow-down',
               width: 20,
               height: 20) %>
    </span> -->
  <%# end %>
<%# end %>
<% if Spree::Config[:show_raw_product_description] || product_wysiwyg_editor_enabled? %>
<div data-hook="product_right_part_wrap">  
  <div id="product-description-short"  data-hook="short-description">
      <%= sanitize product_description(@product).truncate(450) %>
  </div>
  <% end %>
  <ul class="product-standards d-flex flex-wrap align-items-center phone-hide">
    <li class="glutenfree-icon" data-toggle="tooltip" data-placement="bottom" title="Gluten free">Gluten free</li>
    <li class="nongmo-icon" data-toggle="tooltip" data-placement="bottom" title="Non GMO">Non GMO</li>
    <li class="u-icon" data-toggle="tooltip" data-placement="bottom" title="U">u</li>
    <li class="vegan-icon" data-toggle="tooltip" data-placement="bottom" title="Vegan">Vegan</li>
  </ul>
  <div class="product-ingredients" id="product-properties"  data-hook>
    <h5>Ingredients</h5>
    <% unless @product_properties.blank? %>
        <% @product_properties.each do |product_property| %>
          <% if product_property.show_property? %>
              <span ><%= product_property.value %></span>
          <% end %>
        <%end %>
    <%end %>
  </div>
  <div class="product-actions d-flex flex-wrap align-items-center"> <a href="#" class="faq-link">Ask a Question</a> <a href="#" class="add-to-fav">Add to Wishlist</a> </div>
</div>