<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#description">Description</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#howtouse">How to Use</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#applications">Applications</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#documents">Documents</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="description" role="tabpanel">
    <% if Spree::Config[:show_raw_product_description] || product_wysiwyg_editor_enabled? %>
      <div class="tab-content-wrap" id="product-description-long"  data-hook="description">
        <%= sanitize product_description(@product) %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="howtouse" role="tabpanel">
    <div class="tab-content-wrap">
      <p>This oil soluble fragrance can be used to make candles, soap, shampoo, conditioner, lotion, aromatherapy, massage oils, cologne, potpourri, light rings, kerosene, Tiki Lamps, and just about any other application that calls for an oil soluble fragrance.</p>
    </div>
  </div>
  <div class="tab-pane fade" id="applications" role="tabpanel">
    <div class="tab-content-wrap">
      <p>This oil soluble fragrance can be used to make candles, soap, shampoo, conditioner, lotion, aromatherapy, massage oils, cologne, potpourri, light rings, kerosene, Tiki Lamps, and just about any other application that calls for an oil soluble fragrance.</p>
    </div>
  </div>
  <div class="tab-pane fade" id="documents" role="tabpanel">
    <div class="table-responsive">
      <table class="table documents-table">
        <tr>
          <td style="min-width: 245px"><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        <tr>
          <td><img src="assets/images/certificate.svg" alt="certificate">Certificate of Analysis</td>
          <td><strong>LOT#:</strong> 210912030</td>
          <td><strong>Date:</strong> 09/09/2021</td>
          <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="cart-similar-item phone-visible">
  <div class="wrap">
    <p>You might need this:</p>
    <div class="similar-item-thumb"><a href="#"><img src="assets/images/product-thumb-1.jpg" alt=""></a></div>
    <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
    <a href="#" class="btn btn-primary">$14.70  - Add to Cart</a> </div>
</div>
