<% cache cache_key_for_product_wihtout_version(@product) do %>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#description">Description</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="description" role="tabpanel">
    <div class="tab-content-wrap" id="product-description-long"  data-hook="description">
      <%= raw product_description(@product) %>
      <% unless @product_properties.blank? %>
        <% @product_properties.each do |product_property| %>
          <% if product_property.property.name == Rails.configuration.x.property.prop65 && product_property.show_property? %>
      <br/>
      <p><b>Proposition 65 Warning for California Consumers</b></p>
      <p><b>WARNING:</b> Consuming this product can expose you to chemicals including <%= product_property.value %> which is known to the State of California to cause cancer and birth defects or other reproductive harm. For more information go to <a href="https://www.P65Warnings.ca.gov/food" target="_blank">www.P65Warnings.ca.gov/food</a>
            <% break %>
          <% end %>
        <%end %>
      <%end %>
    </div>
  </div>
</div>
<div class="cart-similar-item phone-visible">
  <% if @best_sellers_product.present? %>
    <%= render partial: 'spree/shared/cart_similar_products', locals: { best_sellers_product: @best_sellers_product }  %>
  <% end %> 
</div>
<% end %>