<div class="col-xl-4 col-lg-5">
  <div class="latest-deals">
    <h3>Related Products</h3>
    <div class="products-wrapper d-lg-flex align-items-start">
      <div class="product-wrap"> <a href="#">
        <div class="product-img"> <%= image_tag "product-thumb-1.jpg", alt:'' %>
          <div class="price"><span>$24.51</span>$13.51</div>
        </div>
        <div class="product-desc">
          <h4>Acorn Flavored Powder, Natural</h4>
        </div>
        </a> </div>
      <div class="product-wrap"> <a href="#">
        <div class="product-img"> <%= image_tag "product-thumb-2.jpg", alt:'' %>
          <div class="price"><span>$24.51</span>$13.51</div>
        </div>
        <div class="product-desc">
          <h4>Acai Compound, Natural</h4>
        </div>
        </a> </div>
    </div>
  </div>
</div>