<div class="col-xl-4 col-lg-5">
  <div class="latest-deals">
    <h3>Related Products</h3>
    <div class="products-wrapper d-lg-flex align-items-start">
      <% @related_products.each_with_index do |product, index| %>
      <%= render 'spree/shared/product', product: product, image_class: 'product-component-plp-image' %>
      <% end %>
    </div>
  </div>
</div>