<div class="col-xl-4 col-lg-5" id="related-products">
  <div class="latest-deals">
  <% if @related_products.count > 0 %>
    <div class="title">Related Products</div>
    <div class="products-wrapper d-sm-flex align-items-start">
      <% @related_products.each do |product| %>
        <div class="product-wrap">
          <%= render 'related_product', product: product, image_class: 'product-component-plp-image' %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
