        <div class="category-filters-wrap d-lg-block d-none">
          <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
              <%= render 'spree/products/search_sorting_filters' %>
            </div>
          </div>
        </div>