<% if credit_cards.present? %>
  <div class="row-narrow-row">
    <% credit_cards.each do |card| %>
      <% is_default = card.default %>
        <div class=" col-md-6 js-ccs-select <%=  is_default ? 'default' : '' %>" data-cc-id="<%= card.id %>">
          <%= render partial: 'spree/shared/print_cc', locals: { payment_source: card, is_default: is_default, remote_option: true ,card:card} %>
        </div>
    <% end %>
  </div>
<% else %>
  <p>Oooppsss! No existing Credit Card Found. You can Add by Clicking  </p>&nbsp;<strong> Add New</strong>
<% end %>

