<div class="category-filters-wrap d-lg-block d-none">
  <div class="row align-items-center">
    <div class="col-xl-7 col-lg-5 d-flex align-items-center">
      <div class="shop-by-filter d-xl-flex align-items-center">
        <label>Shop by Flavor:</label>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Flavors</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="shop-by-filter d-xl-flex align-items-center">
        <label>Shop by Type:</label>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Types</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-7" data-hook="taxon_products">
      <%= render 'sorting_filters', taxon: @taxon %>
    </div>
  </div>
</div>

