<div class="category-intro-wrapper">
   <div class="row no-gutters">
      <div class="col-xl-8">
         <div class="category-banner-wrap">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Extracts and Flavorings</li>
            </ol>
            <h1 class="title">                    
               <%= @taxon.name %>
            </h1>
            <div class="category-banner phone-hide">
            <% if @taxon.icon.present? %>
               <%= image_tag main_app.url_for(@taxon.icon.attachment) %> 
            <% else %>
               <%= image_tag "noimage/default-category-image.jpg" %>
            <% end %>
            </div>
            <div class="mobile-categories-wrap phone-visible">
            <div class="header"><a href="#" class="mobile-category-toggle">Categories</a></div>
            <ul class="sidebar-sub-categories">
               <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Extracts</a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                  <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
                  </ul>
               </li>
               <li><a href="#">Flavor Concentrate</a></li>
               <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Compund</a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                  <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
                  </ul>
               </li>
               <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Emulsions</a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                  <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
                  </ul>
               </li>
               <li><a href="#">Flavor Powders</a></li>
               <li><a href="#">Flavor Oils</a></li>
               <li><a href="#">Vanilla Extracts</a></li>
               <li><a href="#">Flavoring for Ice Cream</a></li>
            </ul>
            </div>
         </div>
      </div>
      <div class="col-xl-4">
         <div class="category-intro more"> 
            <%= @taxon.description %>
         </div>
      </div>
   </div>
</div>