<div class="category-mobile-filter phone-visible">
  <div class="d-flex align-items-center">
    <div class="sort-by-title flex-fill">
      <p>Sort by: <strong>
        <% if params[:sorting].present? && params[:sorting] == "ascend_by_name" %>
          <span class="active">A to Z </span>
        <%else%>
          <p type="button" class="product-sort-js" data-filter-type="assending-filter">A to Z</p>
        <%end%>
      </strong> &nbsp &nbsp &nbsp
      <strong>
        <div class="product-sort-js" data-filter-type="descending-filter" >
          <% active_klass_descend_by_name = params[:sorting].present? && params[:sorting] == "descend_by_name" ? 'active' : '' %>
          <span class="#{active_klass_descend_by_name} ">Z to A</span>
        </div>
      </strong></p>
    </div>
    <div class="filter-btn-wrap"> <a href="#" class="filter-btn">Filters</a> </div>
  </div>
  <div class="shop-by-filter-mobile">
    <div class="shop-by-filter text-center">
      <label>Shop by Flavor:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Flavors</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="shop-by-filter text-center">
      <label>Shop by Type:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Types</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block">Apply</button>
  </div>
</div>     