<div class="category-mobile-filter phone-visible">
  <div class="d-flex align-items-center">
    <div class="sort-by-title flex-fill sorting-filter sort-by-title-mobile">
      <label>Sort by:</label>
      <% active_klass_descending = (params[:sort_by].present? && (params[:sort_by] == "descend_by_popularity")) ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass_descending %>" data-filter-type="most-popular">Popular</button>
      <% active_klass_ascend_by_name = params[:sort_by].present? && params[:sort_by] == "name-a-z" ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass_ascend_by_name %>" data-filter-type="assending-filter">A to Z</button>
      <% active_klass_descend_by_name = params[:sort_by].present? && params[:sort_by] == "name-z-a" ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass_descend_by_name %>" data-filter-type="descending-filter">Z to A</button>
      <% active_klass = params[:sort_by].present? && params[:sort_by] == "bestsellers" ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass %>" data-filter-type="bestsellers-filter">Best Sellers</button>
    </div>
    <%#
    <div class="filter-btn-wrap"> <a href="#" class="filter-btn">Filters</a> </div>
    %>
  </div>
  <%#
  <div class="shop-by-filter-mobile">
    <div class="shop-by-filter text-center">
      <label>Shop by Flavor:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Flavors</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="shop-by-filter text-center">
      <label>Shop by Type:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Types</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block">Apply</button>
  </div>
  %>
</div>    