<div class="row row-cols-xl-5 row-cols-lg-4 row-cols-sm-2 no-gutters">
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
               <div class="video-icon">Video</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
               <div class="video-icon">Video</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-2.jpg" alt="">
               <div class="price"><span>$21.23</span>$17.24</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Natural</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
   <div class="col col-12">
      <div class="product-wrap">
         <a href="#">
            <div class="product-img">
               <img src="assets/images/product-thumb-3.jpg" alt="">
               <div class="price">$18.39</div>
            </div>
            <div class="product-desc">
               <h4>Acai Compound, Organic</h4>
            </div>
         </a>
      </div>
   </div>
</div>