<% content_for :page_actions do %>
  <% if can?(:fire, order) %>
    <%= event_links(order, events) %>
  <% end %>
  <% if can?(:resend, order) %>
    <%= button_link_to Spree.t(:resend, scope: 'admin.order.events', default: Spree.t(:resend)),
          resend_admin_order_url(order),
          method: :post,
          icon: 'envelope.svg' %>
  <% end %>
  <div data-hook="create_route_order">
    <%= button Spree.t(:create_route_order), 'add.svg', 'button', id: "admin_create_route_order" %>
  </div>
<% end %>
