<% self.title = "Make a Beverage" %>
<% meta_tag :description, "Make a Beverage" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Get Your Beverage Idea on the Shelf</li>
               </ol>
               <h1 class="title mb-25">Get Your Beverage Idea on the Shelf</h1>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <iframe class="article-video" src="https://player.vimeo.com/video/666114104?h=dc33c48ede&autoplay=1&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
                     <p>Need Beverage Formulation & Development? We’re here to help you!</p>
                     <a href="https://newportcopacking.com/" target="_blank" class="btn btn-primary add-to-cart-button">Learn More</a>
                     <p><br></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>