<% self.title = "What Are Flavor Powders" %>
<% meta_tag :description, '' %>
  <main class="page-contents">
    <div class="category-wrapper">
      <div class="row no-gutters">
        <div class="col-xl-2 col-lg-3 phone-hide">
          <div class="sidebar-categories">
            <h4>More Information:</h4>
            <ul class="sidebar-sub-categories">
              <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
              <li><a href="#">Flavor Emulsions</a></li>
              <li><a href="#">Flavor Concentrates</a></li>
              <li><a href="#">Flavor Extracts</a></li>
              <li><a href="#">Flavor Oils</a></li>
              <li><a href="#">The Flavor Guy Videos</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-7 col-lg-9">
          <div class="article-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">What Are Flavor Powders?</li>
            </ol>
            <h1 class="title mb-25">What Are Flavoring Powders?</h1>
            <div class="mobile-categories-wrap phone-visible">
              <div class="header"><a href="#" class="mobile-category-toggle">More Information</a></div>
              <ul class="sidebar-sub-categories">
                <li><a href="#">Flavor Powders</a></li>
                <li><a href="#">Flavor Emulsions</a></li>
                <li><a href="#">Flavor Concentrates</a></li>
                <li><a href="#">Flavor Extracts</a></li>
                <li><a href="#">Flavor Oils</a></li>
                <li><a href="#">The Flavor Guy Videos</a></li>
                <li><a href="#">Reviews</a></li>
                <li class="active"><a href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="articl-media">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BsosQkfa2L8?rel=0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="banner-caption-wrap">
              <div class="row">
                <div class="col-md-7">
                  <p>Natures Flavors' Flavor Concentrates are our most widely-used flavors and are best used in any water-based situation.</p>
                </div>
                <div class="col-md-5">
                  <div class="wrap">
                    <h5>Video Content</h5>
                    <p>A general overview of the types of flavors and their uses.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="block d-flex flex-wrap">
              <div class="flex-fill">
                <h2>FLAVOR POWDERS?</h2>
                <p>Flavor powders are the flavoring agent of choice when your finished product must be kept dry, such as a baking or beverage mix. Flavor powders dissolve readily in warm water, and so work well for instant mixes. Flavor powders are also a great choice for baking, as they hold up will under prolonged exposure to heat.</p>
              </div>
            </div>
            <div class="block d-flex flex-wrap">
              <div class="flex-fill">
                <h2>USAGE GUIDELINES</h2>
                <p>Flavor powders are fairly weak compared to other flavors. Starting usage would be around .25% to 1% by weight of total ingredients, and even up to 5% depending on the application.</p>
              </div>
            </div>
            <div class="block d-flex flex-wrap">
              <div class="artcile-sm-img mobile-hide"><img src="assets/images/video-thumb-1.jpg" alt=""></div>
              <div class="flex-fill">
                <h2>BEST APPLICATIONS</h2>
                <p>Flavor powders are perfect for dry mixes and are even used in some old-school baking applications. Flavor powders are good for:</p>
                <ul>
                  <li>Smoothies</li>
                  <li>Baked goods</li>
                  <li>Dry mixes</li>
                  <li>Maintaining a pre-made mix for months to come</li>
                </ul>
              </div>
            </div>
            <div class="block d-flex flex-wrap">
              <div class="flex-fill">
                <h2>MORE ON FLAVOR POWDERS</h2>
                <p>We offer both regular and sugar-free flavor powders.<br>
                  Our regular flavor powders are:</p>
                <ul>
                  <li>Heat-stable</li>
                  <li>Unsweetened</li>
                  <li>Concentrated</li>
                  <li>Water Soluble</li>
                </ul>
              </div>
            </div>
            <div class="next-articles">
              <p><a href="#"><strong>Ingredients for Regular Flavor Powders:</strong> dextrose, natural or organic flavor</a></p>
              <p><a href="#"><strong>Ingredients for Sugar Free Flavor Powders:</strong> gum arabic, natural or organic flavor</a></p>
            </div>
            <div class="attention-note">
              <h2>OVERFLAVORING YOUR PRODUCT</h2>
              <p>If at any time you notice a minty taste on your palate or a medicinal taste, you have over-flavored your product. Or, if you are burping the flavor up an hour or more after you have eaten the finished product then you have probably over flavored it. The trick to making a product taste good is to give just enough flavor to tease the taste buds, without overdoing it. That's what keeps them coming back for more.</p>
            </div>
          </div>
          <!-- /.Article --> 
        </div>
        <div class="col-xl-3 tablet-hide"></div>
      </div>
    </div>
  </main>