<% self.title = "Privacy Policy" %>
<% meta_tag :description, "Privacy Policy" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Privacy Policy</li>
               </ol>
               <h1 class="title mb-25">Privacy Policy</h1>

               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>100% Satisfaction Guarantee (Excluding Business's)</h2>
                     <p>Natures Flavors is committed to respecting your privacy and recognizing your need for appropriate and intelligent protection & management of contact information you share with us. This includes any information by which you can be contacted, such as your name, mailing address, email address, telephone number, etc. The purpose of this privacy policy is to inform you what contact information we may collect from you, how we use such information, and the choices you have regarding our use of, and your ability to review, correct and opt out of our use of the information.</p>
                     <p>As a part of our commitment to your privacy, Natures Flavors supports and adheres to the guidelines and practices adopted by the Direct Marketing Association´s "Privacy Promise to American Consumers." We have agreed to (1) provide customers with notice of this ability to opt out of information rental, sale or exchange with other marketers; (2) honor customers´ requests not to share their information with other marketers; and (3) honor customers´ requests not to receive mail, telephone or other solicitations from Natures Flavors.</p>
                     <p>This Privacy Policy applies to your use of all the Natures Flavors Web Site. The policy does not apply to your use of sites to which the Web Site only links. This policy covers only information collected on the Web Site and does not cover any information collected offline by us.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Collecting Information About You</h2>
                     <p>There may be times (such as when you purchase or order a product, subscribe to a service, register to receive newsletters, or participate in promotions, etc) when we ask you to provide certain information about yourself, such as your name, shipping/billing address, telephone number, email address, credit card information, etc. We may also maintain a record of your product purchases and your “wish lists.”</p>
                     <p>Whether or not you decide to provide such information is completely up to you. However, if you choose not to provide the information we request, you may be unable to purchase products, or access certain services, offers and content on our web site. Please bear in mind that we may need to contact you via phone, email or mail to address questions or issues specific to your order, entry, etc., even if you have opted to not receive communications from us.</p>
                     <p>As a general rule, you are able visit the majority of our web pages without telling us who you are or revealing any contact information about yourself. We may track the Internet domain address from which people visit us and analyze this data for preferences, trends or statistics, but individual users will remain anonymous, unless you voluntarily tell us who you are.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Editing, Updating, Correcting and Deleting Information About You</h2>
                     <p>We want to communicate with you only if you want to hear from us. If you prefer not to receive contact from us, other than order confirmations, please let us know by calling us at (714) 744-3700, or contact us through the following methods:</p>
                     <p>By U.S. Mail (“Snail Mail”):<br><em>Nature's Flavors<br>833 N. Elm St.<br>Orange, CA 92867</em></p>
                     <p>By e–mail: <a href="mailto:customerservice@naturesflavors.com">CustomerService@naturesflavors.com</a></p>
                     <p>Please be sure to include your full name, email address, mailing address, and specifically what information you do not wish to receive. If you would like to update or correct your email address, mailing address or other contact information with us please contact us in the same manner.</p>
                     <p>Please note that any requests to remove or update your contact information may take up to ten days for your email request and 6–8 weeks to process your “Snail Mail” request.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Security</h2>
                     <p>We take precautions, including use of sophisticated encryption and authentication tools, to protect the security of your contact information that you share with us. However, the unfortunate reality is that no data transmission over the Internet can be guaranteed to be 100% secure. Consequently, although we strive to protect your contact information, we cannot guarantee or warrant the security of any information you transmit to or from our web sites, and you do so at your own risk.</p>
                     <p>We urge you to keep your password in a safe place and not to divulge it to anyone. Also remember to log off your account and close your browser window when you have finished your visit. This is to ensure that others cannot access your account, especially if you are sharing a computer with someone else or are using a computer in a public place such as a library or Internet Café.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Links to Third Party Sites</h2>
                     <p>At times, our web site may contain links to web sites operated and maintained by third parties, over which we have no control. Privacy policies on such linked sites may be different from our privacy policy. You may access any of the linked sites at your own risk. You should always read the privacy policy of a linked site before disclosing any personal information on such site.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Policy Changes</h2>
                     <p>By using the Web Site, you signify your acceptance of our Privacy Policy, your promise to comply with the representations you make and contained in the Privacy Policy, and your understanding of the scope and limitations of the protections provided under the Privacy Policy. If we decide to change our privacy policy in whole or in part, we will inform you by posting a notice on our web site. Those changes will go into effect on the effective date posted in the notice and at the end of the revised Privacy Policy. The new policy will apply to all current and past users of our Web Site and will replace any prior policies that are inconsistent. Your continued use of our Web Site or services constitutes your consent to be bound by the revised Privacy Policy. We recommend that you review these policies from time to time to ensure that you are current on these.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Your Feedback</h2>
                     <p>To help us improve our privacy policy and practices, please feel free to provide us with feedback. You may email us at CustomerService@naturesflavors.com or call us at (714) 744-3700.</p>
                     <br>
                     <p>Effective Date: October 3, 2016</p>
                  </div>
               </div>               
            </div>
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>