<% self.title = "Returns & Replacements" %>
<% meta_tag :description, "Returns & Replacements" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Returns & Replacements</li>
               </ol>
               <h1 class="title mb-25">Returns & Replacements</h1>

               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>100% Satisfaction Guarantee (Excluding Business's)</h2>
                     <p>At Nature’s Flavors, creating healthy satisfied customers is our ultimate goal. Nothing makes us happier than a happy customer. The natural and organic integrity of our products give us confidence you will be delighted with your selection. Our inventory of products has evolved and improved for over 40 years. If you are unsatisfied for any reason or have questions regarding proper usage of our products, please contact us at customerservice@naturesflavors.com or call 714.744.3700 for professional product assistance. Assisting you makes us better! Please take a moment to review the following policies on orders, shipping and returns.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Receiving Damaged Merchandise</h2>
                     <p>(1) For packages with Route Protection, click <%= link_to('here', route_path, 'aria-label' => 'Route+ Shipping Protection & Package Tracking FAQs') %> for more information.<p>
                     <p>(2) For non-Route protected packages:<p>
                     <p>In the rare event you receive damaged merchandise, please contact Nature’s Flavors Customer Service Department (714.744.3700) as soon as possible to report the damage. Upon our receipt of the shipment, we are required to file a claim per transportation company procedures.</p>
                     <p>Please note: The transportation company will require inspection of the packaging and contents. Therefore, all original packaging must be held for inspection. Detailed digital photographs showing the box, packaging materials and said-damage may be acceptable as evidence for claim purposes.</p>
                     <p>Insured Shipping: USPS and FedEx shipments are insured up to $100.00.</p>
                     <p>We are not responsible for damage to goods caused by inclement weather.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Shipping Costs</h2>
                     <p>Shipping costs are non-refundable.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Refused Packages</h2>
                     <p>All orders where delivery is refused by the customer will be billed for shipping costs plus a 25% disposal fee.</p>
                     <p>Shipping Returns: Shipping costs associated with merchandise returned to Nature’s Flavors due to an incorrect address (if provided by the customer), or unclaimed packages returned to us, are the responsibility of the customer. Authorized returns are subject to a 25% disposal fee. If reshipment of unclaimed returned packages is desired, additional shipping costs will apply.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Returns</h2>
                     <p>Contact Nature’s Flavors (714.744.3700) prior to returning any product to receive a Return Authorization Number. Products must be returned within the fourteen (14) day grace period following receipt of our product(s). No returns will be authorized after the fourteen (14) day grace period. All returned products must have a Return Authorization Number posted on the outside of the package near the shipping label. Packages without a Return Authorization Number may be routed incorrectly causing delays. All returns are subject to a 25% disposal fee.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Taste Discrepancy</h2>
                     <p>No refunds are issued for products returned based on personal taste preferences. All complaints will be submitted to our Quality Control Department for testing, according to the ‘Lot’ the product was produced in.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>All Sales Are Final Over $200</h2>
                     <p>We guarantee the quality of all Nature’s Flavors products. Due to the nature of natural and organic products, we recommend customers unfamiliar with our products, start with smaller quantities for testing purposes prior to purchasing a large order. If an error occurs in the manufacturing process, we will gladly resolve the issue or replace an inadequate product. Per established health and safety programs, we are required to destroy returned merchandise. The item can be replaced at our discretion.</p>
                  </div>
               </div>               
            </div>
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>