<% self.title = "Route+ Shipping Protection & Package Tracking" %>
<% meta_tag :description, "Route+ Shipping Protection & Package Tracking" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="nflavors-faqs-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Route+ Shipping Protection & Package Tracking</li>
               </ol>
               <h1 class="title">Route+ Shipping Protection & Package Tracking FAQs</h1>
               <div class="mobile-categories-wrap phone-visible">
               </div>
               <div class="accordion" id="faqaccordion">
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Route and Green Package Protection?</button>
                        </h2>
                     </div>
                     <div id="collapseOne" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Route's Green Package Protection is a package protection solution that helps cover your order in the event that your order gets lost, stolen, or damaged while in transit while also protecting the planet. We know how frustrating it is to have something happen to your order, so we’ve partnered with Route to offer added assurance that you’re supported, no matter what. Green Package Protection can be added during checkout.
                           <br/><br/>
                           Every time you add Green Package Protection to your order, Route donates to support an agroforestry initiative that removes CO₂ from the air and promotes a flourishing ecosystem. 
                           <br/><br/>
                           You can also utilize the Route App to visually track all of your online orders in one place and easily file a claim with their team. Whether you’re tracking via the Route App or online Route’s real-time shipping updates keep you in the loop throughout every part of your delivery. Haven’t downloaded the app yet? Download here: <a href="https://apps.apple.com/us/app/route-visual-package-tracking/id1449803898" target="_blank">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.route.app" target="_blank">Android</a>
                           <br/><br/>
                           Purchased Route's Green Package Protection and looking to file a shipping issue online? File <a href="https://claims.route.com/" target="_blank">here</a>.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">What is Carbon Neutral Shipping?</button>
                        </h2>
                     </div>
                     <div id="collapseTwo" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">Route is covering the cost to neutralize shipping emissions when you add "Green Package Protection" at checkout. "Green Package Protection" Shipping includes package protection at the same cost as before, with the additional benefit that your shipment is carbon neutral. By adding Green Package Protection to your cart, you're automatically taking instant climate action – no donation required.</div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree">How does Green Package Protection/Carbon Neutral Shipping work?</button>
                        </h2>
                     </div>
                     <div id="collapseThree" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">Route has partnered with <a href="https://www.patch.io/" target="_blank">Patch</a>, a carbon credit marketplace, to facilitate the purchase of carbon credits to neutralize your emissions. Carbon credits represent a certified unit of carbon removal or avoidance delivered by environmental projects that can be purchased to naturally remove carbon from the air. Patch is a high-integrity carbon removal project that is vetted and certified by organizations like Gold Standard, Verra, Climate Action Reserve, and The American Carbon Registry.</div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour">Where is My Order?</button>
                        </h2>
                     </div>
                     <div id="collapseFour" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">Once your order has been fulfilled by our team, a shipping confirmation with a tracking number will be emailed. You can download  Route’s mobile app for <a href="https://apps.apple.com/us/app/route-visual-package-tracking/id1449803898" target="_blank">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.route.app" target="_blank">Android</a> to visually track your package and receive real-time notifications on its estimated delivery.</div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive">How Does Route Work?</button>
                        </h2>
                     </div>
                     <div id="collapseFive" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           If your Route-protected order ends up lost, damaged, or stolen, Route’s expert support team helps ensure that your order gets replaced or refunded as preferred. Claims will be reviewed for approval within 1-2 business days from filing.  
                           <br/><br/>
                           Need to file a claim?  File <a href="https://claims.route.com/" target="_blank">here</a>.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix">How Does Route Process Refunds or Reorders?</button>
                        </h2>
                     </div>
                     <div id="collapseSix" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Refunds: When refunding an item, Route covers the subtotal, shipping, and taxes.
                           <br/><br/>
                           In both cases, the Route Premium cost will not be refunded.
                           <br/><br/>
                           Reorders: Route will reorder the items, depending on in-stock availability. Unavailable items will be refunded. Route will cover the cost of any reorders including shipping, taxes, and Route Shipping Protection.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven">When Should I File a Claim?</button>
                        </h2>
                     </div>
                     <div id="collapseSeven" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Marked As Delivered (Stolen)
                           <br/>
                           <ul>
                              <li>Claims will be reviewed no earlier than 5 calendar days and no later than 15 calendar days from when it was marked delivered.</li>
                              <li>Please note, some order issues may require a police report to be filed.</li>
                           </ul>
                           Stuck In Transit (Lost)
                           <br/>
                           <ul>
                              <li>For domestic orders, claims will be reviewed no earlier than 2 calendar days and no later than 30 calendar days from the last update. The maximum filing time is 60 days from the order date.</li>
                              <li>For international orders, claims will be reviewed no earlier than 20 calendar days and no later than 30 calendar days from the last update. The maximum filing time is 60 days from the order date.</li>
                           </ul>
                           Damaged
                           <br/>
                           <ul>
                              <li>Claims for damaged items require photos of the packaging and item(s) and must be filed no later than 15 calendar days from when it was marked delivered.</li>
                           </ul>
                           All of Route’s policies are listed <a href="https://merchants.help.route.com/hc/en-us/articles/360041131194-Route-Package-Protection-Policies" target="_blank">here</a>.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight">What if My Order Never Arrives or is Stolen?</button>
                        </h2>
                     </div>
                     <div id="collapseEight" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Route definitely helps cover these instances! To protect your order against loss or theft, add Green Package Protection at checkout. 
                           <br/><br/>
                           If your order has not arrived, please file a claim with Route <a href="https://claims.route.com/" target="_blank">here</a>.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine">What if My Order Arrives Damaged?</button>
                        </h2>
                     </div>
                     <div id="collapseNine" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Route covers damage as well! To protect your order against damage that occurred during shipping, add Route Protect at checkout. 
                           <br/><br/>
                           If your order has arrived to you damaged, please take photos of the item and the packaging it arrived in to include in your claim when filing. 
                           <br/><br/>
                           You can file a claim with Route <a href="https://claims.route.com/" target="_blank">here</a>.
                           <br/><br/>
                           If your order has defects or you suspect it was damaged during manufacturing, please reach out to us at <a href="mailto:customerservice@naturesflavors.com">customerservice@naturesflavors.com</a> and we will be happy to work with you to remedy the situation.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven">What are Route's Terms and Conditions? </button>
                        </h2>
                     </div>
                     <div id="collapseEleven" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Route’s terms and conditions are listed here: <a href="https://route.com/terms-and-conditions/" target="_blank">https://route.com/terms-and-conditions/</a>.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve">Is Route a Licensed Insurance Company?</button>
                        </h2>
                     </div>
                     <div id="collapseTwelve" class="collapse" data-parent="#faqaccordion">
                        <div class="card-body">
                           Yes, Route is a licensed insurance company with SEG Insurance Ltd. as its partner.
                        </div>
                     </div>
                  </div>
               </div>
               <div class="contact-wrap">
                  <h3>How Do I File a Claim for my Lost, Damaged, or Stolen Order?</h3>
                  <p>If you insured your order with Route at checkout, you will receive a confirmation email from Route with a link to file a shipping issue.</p>
                  <br/>
                  <p>You can also file a shipping issue on Route’s app or via <a href="https://claims.route.com/" target="_blank">the web here</a>. To file a claim, you will need your store order number OR Route ID number and the email address that was attached to the order.</p>
                  <br/>
                  <p>Haven’t downloaded the app yet?  Download here: <a href="https://apps.apple.com/us/app/route-visual-package-tracking/id1449803898" target="_blank">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.route.app" target="_blank">Android</a></p>
               </div>
            </div>
            <!-- /.Faqs --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>