<% self.title = "Shipping & Delivery" %>
<% meta_tag :description, "Shipping terms and conditions" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Shipping & Delivery</li>
               </ol>
               <h1 class="title mb-25">Shipping & Delivery</h1>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <p>All commercial accounts require 10 business days of processing time. This includes all orders that are $200 and above. Please plan orders accordingly.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Processing Time & Shipping</h2>
                     <p>Orders placed after 2:00pm Pacific Time will be processed the next business day. Natures Flavors makes every effort to process and ship orders as soon as possible, excluding weekends and holidays. Occasionally, orders may be delayed due to inventory shortages or increased order volume. Please note that our processing time is typically lengthier because each product is made to order, meaning you get the freshest product possible. When estimating your order's arrival date, please be sure to include the additional transit time it will take for your product to arrive once we ship it. We use FedEx for most domestic shipping. International shipments, and orders being delivered to P.O. Boxes are shipped USPS. We reiterate that for all commercial accounts we do require a 10 business days processing time. This includes all orders $200 and above. Please plan orders accordingly. The reason commercial accounts experience a longer processing time is because the order processes for business accounts requires a much more detailed set of procedures. Remember, all orders are made fresh to order.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Domestic Orders</h2>
                     <p>Shipping within the 48 contiguous states is calculated through FedEx or USPS. Orders that ship to Alaska and Hawaii are subject to additional shipping costs.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>International Orders</h2>
                     <p>International shipping is calculated through USPS or FedEx. All international orders are subject to additional shipping costs. The shipping charges will be calculated based on weight and destination. A customer service representative will contact you shortly after your order is placed via email.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>We Ship To:</h2>
                     <p><strong>United States, Canada, Ireland, United Kingdom</strong>, Argentina, Australia, Austria, Bahamas, Belgium, Bermuda, Bolivia, Plurinational State Of Brazil, Burkina Faso, Cambodia, Canary Islands, Chile, China, Costa Rica, Croatia, Cyprus, Czech Republic, Denmark, Ecuador, Egypt, El Salvador, Estonia, Finland, France, Germany, Gibraltar, Greenland, Guam, Guatemala, Hong Kong, Hungary, Iceland, India, Israel, Italy, Jamaica, Japan, Kenya, Kuwait, Laos People's Democratic Republic, Latvia, Liechtenstein, Lithuania, Luxembourg, Malaysia, Malta, Mongolia, Morocco, Mozambique, Namibia, Nepal, Netherlands, Netherlands Antilles, New Zealand, Norway, Paraguay, Peru, Poland, Portugal, Russia, Saudi Arabia, Serbia, Singapore, Slovakia, Slovenia, South Africa, South Korea, Spain, Sri Lanka, Swaziland, Sweden, Switzerland, Taiwan, Province Of China, Thailand, Turkey, Uganda, Ukraine, United Arab Emirates, Venezuela, Bolivarian Republic Of, Virgin Islands (British), Virgin Islands (U.S.), Zambia.</p>
                     <p>NOTE: Boxes are amply sized and your items are well-protected.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Route+ Shipping Protection & Package Tracking:</h2>
                     <p>We've partnered with Route—a package protection and tracking solution—to give our customers the best possible delivery experience. Route provides low-cost shipping protection to protect your package in the event that it gets lost, stolen, or damaged while in transit.</p>
                     <p>Route is also a mobile app that allows you to visually track all of your online orders in one place. No need to dig through your email for tracking numbers. Route’s dynamic maps and real-time shipping updates keep you in the loop throughout every part of your delivery. The Route app is available on Android and Apple app stores.</p>
                     <p>If you experienced an issue with your order, please file a claim with Route’s team <a href="https://claims.route.com/" target="_blank">here</a>.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>