<% self.title = "Terms & Conditions" %>
<% meta_tag :description, "Our terms and conditions" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
                  <li class="breadcrumb-item active">Terms and conditions</li>
               </ol>
               <h1 class="title mb-25">Terms & Conditions</h1>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>100% Satisfaction Guarantee (Excluding Business's)</h2>
                     <p>Customers Are The Most Important People In Our Business. They Are Not Dependent On Us, We Are Dependent On Them.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Natures Flavors Cares</h2>
                     <p>At Natures Flavors, creating healthy satisfied customers is our ultimate goal. Nothing makes us happier than a happy customer. The natural and organic integrity of our products give us confidence you will be delighted with your selection. Our inventory of products has evolved and improved for over 40 years. If you are unsatisfied for any reason or have questions regarding proper usage of our products, please contact us at customerservice@naturesflavors.com or call 714.744.3700 for professional product assistance. Assisting you makes us better!</p>
                     <p>Please take a moment to review the following policies on orders, shipping and returns.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Processing</h2>
                     <p>Orders placed after 2:00pm Pacific Time will be processed the next business day. Natures Flavors makes every effort to process and ship orders as soon as possible, excluding weekends and holidays. Occasionally, orders may be delayed due to inventory shortages or increased order volume. Please keep in mind the additional transit time for your product to arrive once we ship it when estimating your order's arrival date. We use UPS for most domestic shipping. International shipments, and orders being delivered to P.O. Boxes are shipped USPS.</p>
                     <p>For all commercial accounts we require a 10 business days processing time. This includes all orders $200 and more. Please plan you order ahead. The reason for a longer wait time on commercial accounts is due to the fact that the order processing for business accounts is a much more detailed process. All orders made fresh to order. Expedited service is available on request.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Expedite Fee</h2>
                     <p>For orders  $100 or less the expedite fee is $35. For orders over $100  the standard expedite fee is 35% of order subtotal. Expedited orders will be shipped within two (2) business days of payment receipt.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Payment Methods</h2>
                     <p>We accept Visa, MasterCard, American Express, Discover, and Pay Pal. We also welcome payment by cashier’s check or money order. Merchandise will not be processed or shipped until payment is received. (Sorry, personal checks are not accepted.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Shipping</h2>
                     <p>All orders are shipped via UPS or United States Postal Service (USPS). We do not ship COD (Cash on Delivery).</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Package Tracking</h2>
                     <p>Natures Flavors provides tracking capability on all shipments. Tracking numbers are emailed after carrier pickup. If your product(s) is delivered to the wrong address, or lost by the carrier, tracking information will aid in package recovery. The carrier is responsible for locating lost and/or misplaced merchandise.</p>
                  </div>
               </div> 
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Receiving Damaged Merchandise</h2>
                     <p>In the rare event you receive damaged merchandise, please contact Natures Flavors Customer Service Department (714.744.3700) as soon as possible to report the damage. Upon our receipt of the shipment, we are required to file a claim per transportation company procedures.</p>
                     <p>Please note: The transportation company will require inspection of the packaging and contents. Therefore, all original packaging must be held for inspection. Detailed digital photographs showing the box, packaging materials and said-damage may be acceptable as evidence for claim purposes.</p>
                     <p>Insured Shipping: UPS and USPS Express shipments are insured up to $100.00. If additional insurance is desired, please inform us when placing the order. When ordering online, requests for additional insurance can be made in the Comments Section of our website.</p>
                     <p>We are not responsible for damage to goods caused by inclement weather.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Package Tracking</h2>
                     <p>Natures Flavors provides tracking capability on all shipments. Tracking numbers are emailed after carrier pickup. If your product(s) is delivered to the wrong address, or lost by the carrier, tracking information will aid in package recovery. The carrier is responsible for locating lost and/or misplaced merchandise.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Shipping Costs</h2>
                     <p>Shipping costs are non-refundable.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Refused Packages</h2>
                     <p>All orders where delivery is refused by the customer will be billed for shipping costs plus a 25% disposal fee.</p>
                     <p>Shipping Returns: Shipping costs associated with merchandise returned to Natures Flavors due to an incorrect address (if provided by the customer), or unclaimed packages returned to us, are the responsibility of the customer. Authorized returns are subject to a 25% disposal fee. If reshipment of unclaimed returned packages is desired, additional shipping costs will apply.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Returns</h2>
                     <p>All sales are final. The only exceptions are any problems directly related to product quality due to our workmanship</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Taste Discrepancy</h2>
                     <p>No refunds are issued for products returned based on personal taste preferences. All complaints will be submitted to our Quality Control Department for testing, according to the 'Lot' the product was produced in.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>All Sales Are Final</h2>
                     <p>We guarantee the quality of all Natures Flavors products. Due to the nature of natural and organic products, we recommend customers unfamiliar with our products, start with smaller quantities for testing purposes prior to purchasing a large order. If an error occurs in the manufacturing process, we will gladly resolve the issue or replace an inadequate product. Per established health and safety programs, we are required to destroy returned merchandise. The item can be replaced at our discretion.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>Disclaimer(s)</h2>
                     <p>Information provided on NaturesFlavors.com regarding the use of any products DOES NOT constitute a doctor-patient relationship between you and any person affiliated with NaturesFlavors.com . You should not use the information on Naturesflavors.com for diagnosing or treating a health problem or disease, or for prescribing medication or other treatment. You should always speak with your physician or other healthcare professional before taking any medication or nutritional, herbal or homeopathic supplement, or adopting any treatment for a health problem. Natures Flavors does not support the misuse of our Natural and Organic flavors in electronic cigarettes or other treatment products. Information and statements regarding dietary supplements, or natural and organic products have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure or prevent disease.</p>
                  </div>
               </div>                
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>2021 Fourth of July Promotion</h2>
                     <p>Nature’s Flavors defines non-commercial orders based on an overall dollar value. All orders over $200 before the applied discount code, will be defined as commercial. Please note, each use of the discount code is limited to one order per household/address.</p>
                  </div>
               </div>                
            </div>
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>