<div class="tab-pane fade" id="myCards" role="tabpanel">
  <div class="cards-wrapper">
    <div class="row narrow-row">
      <div class="col-md-6">
        <div class="card-wrap default">
          <h5>Default</h5>
          <p>Penelope Martines<br>
            4345 **** **** 3243</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-wrap"> <a href="#" class="btn btn-text">Make Default</a>
          <p>Penelope Martines<br>
            4345 **** **** 3243</p>
        </div>
      </div>
    </div>
    <div class="add-edit-form">
      <h5>Add New Card</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-floating mb-20">
            <input type="text" class="form-control" placeholder="Name on card*">
            <label>Name on card*</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group form-floating mb-20">
            <input type="text" class="form-control" placeholder="Card number*">
            <label>Card number*</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group form-floating mb-20">
            <input type="text" class="form-control" placeholder="Expiration (MM/YYYY)*">
            <label>Expiration (MM/YYYY)*</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group form-floating mb-20">
            <input type="text" class="form-control" placeholder="Security Code (CVV)*">
            <label>Security Code (CVV)*</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="custom-checkbox mb-15">
            <label>
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-label"></span>Save Card as Default</label>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Add Card</button>
      <button type="button" class="btn btn-text">Delete This Card</button>
    </div>
  </div>
</div>