<div class="tab-pane fade" id="myAddresses" role="tabpanel">
    <div class="addresses-wrapper">
        <%= render partial: 'profile_addresses' %>
        <div class="add-edit-form js-profile-address-area"></div>
    </div>
</div>
