<div class="tab-pane fade" id="myCards" role="tabpanel">
  <div class="cards-wrapper">
    <div class="js-user-profile-credit-cards">
      <%= render partial: 'spree/users/profile/user_ccs', locals: {credit_cards: @profile_ccs} %>
    </div> 
    <div class="content js-profile-new-cc-area"></div>
  </div>
</div>