<div class="footer-copyright">
   <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-4 col-lg-6">
         <p>Copyright &copy; 1990-2022 Nature&apos;s Flavors, Inc. All rights reserved.</p>
      </div>
      <div class="col-xl-4 col-lg-6">
         <div class="accepted-payment d-lg-flex flex-wrap align-items-center justify-content-end">
            <p>Secure payment with</p>
            <figure><%= image_tag 'footer-payment.svg', alt: "Paypal, Visa, Master Card, American Express, and Discover" %></figure>
         </div>
      </div>
      <div class="col-xl-2 tablet-hide"></div>
   </div>
</div>