<div class="footer-copyright">
   <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-4 col-lg-6">
         <p>Copyright &copy; 1990-2023 Nature&apos;s Flavors, Inc. All rights reserved.</p>
      </div>
      <div class="col-xl-2 col-lg-6">
         <a href="//www.securitymetrics.com/site_certificate?id=1751568&tk=2196454e6ab9ed9609f8b2072e4c8c4f" target="_blank" rel="noopener noreferrer">
            <img src="https://www.securitymetrics.com/static/apps/super/assets/img/Credit_Card_Safe_dark.png" alt="SecurityMetrics Credit Card Safe" />
         </a>
      </div>
      <div class="col-xl-2 col-lg-6">
         <div class="accepted-payment d-lg-flex flex-wrap align-items-center justify-content-end">
            <p>Secure payment with</p>
            <figure><%= image_tag 'footer-payment.svg', alt: "Paypal, Visa, Master Card, American Express, and Discover" %></figure>
         </div>
      </div>
      <div class="col-xl-2 tablet-hide"></div>
   </div>
</div>