<a href="#" id="shopping_cart_bag" aria-label="Show my cart content" class="nav-cart cart-icon--visible-count #{local_assigns[:class]}">	
	<span>cart </span>
	<small id="shopping_cart_counter" class="cart-counter "><%= item_count %></small>
</a>