<div class="cart-similar-item">
    <div class="wrap">
      <p>You might need this:</p>
      <div class="similar-item-thumb"><a href="#"><%= plp_and_carousel_image( best_sellers_product) %></a></div>
      <h4><a href="#"><%= best_sellers_product.name %></a></h4>
      <%= link_to add_to_cart_path(best_sellers_product.id), class: 'btn btn-primary add-to-cart-button', id: 'add-to-cart-button',method: :post, remote: true  do %>
            <%= best_sellers_product.price %> - Add to Cart
       <% end %>
   </div>
</div>
