<% sale_products = Spree::Product.with_variant_sales %>
<% if sale_products.present? %>
  <div class="col-lg-6">
    <div class="latest-deals">
       <div class="title-wrap d-flex align-items-start justify-content-between margin-0">
          <div class="left">
             <div class="sm-title">Nature's Flavors</div>
             <h3 class="title">Latest Deals</h3>
          </div>
          <div class="right"><a href="/sale" class="btn btn-primary">All Deals</a></div>
       </div>
       <div class="products-wrapper d-sm-flex align-items-start">
         <% sale_products.sample(2).each do |sale_product| %>
            <%= render 'spree/shared/deals_blog_product', product: sale_product %>
         <% end %>  
       </div>
    </div>
 </div>
<% end %>   