<%# if spree_menu.present? %>
  <!-- <div class="position-fixed text-uppercase d-xl-none mobile-navigation" role="navigation" aria-label="<%#= Spree.t('nav_bar.mobile') %>">
    <div class="container d-flex align-items-center justify-content-between header-spree" data-hook>
      <button class="m-0 p-0" id="mobile-navigation-back-button" aria-label="<%#= Spree.t('nav_bar.go_to_previous_menu') %>">
        <%#= icon(name: 'arrow-right',
                classes: 'd-inline spree-icon-arrow spree-icon-arrow-left',
                width: 26,
                height: 26) %>
      </button>
      <div id="top-nav-bar-mobile" class="m-0 p-0 header-spree-fluid-secondary-navigation" data-hook>
        <button id="mobile-navigation-close-button" aria-label="<%#= Spree.t(:close) %>">
          <%#= icon(name: 'close',
                  classes: 'd-inline',
                  width: 26,
                  height: 26) %>
        </button>
      </div>
    </div>

    <ul class="list-unstyled position-relative h-100 mobile-navigation-list">
      <%# spree_menu.children.each do |parent| %>
          <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
          <%# if parent.container? %>
            <%#= content_tag :span, parent.name %>
          <%# else %>
            <%#= spree_nav_link_tag(parent, {class: 'w-75'}) %>
          <%# end %>

          <%# if parent.children.present? %>
            <a class="w-25 text-right mobile-navigation-category-link" data-category="<%#= parent.name.parameterize %>" href="#" aria-label="<%#= Spree.t('go_to_category') %>">
              <%#= icon(name: 'arrow-right',
                       classes: 'd-inline spree-icon-arrow spree-icon-arrow-right',
                       width: 14,
                       height: 27) %>
            </a>
              <ul class="list-unstyled position-absolute mobile-navigation-sublist" data-category="<%#= parent.name.parameterize %>">
                <li class="text-center font-weight-bold mobile-navigation-sublist-header">
                  <%#= parent.name %>
                </li>

                <%# parent.children.each do |child| %>
                  <%# if child.container? && child.code?('category') %>
                  <li class="text-muted mt-2"><%#= child.name %></li>
                    <%# if child.children.present? %>
                      <%# child.children.each do |category_link| %>
                        <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
                          <%#= spree_nav_link_tag(category_link, {class: 'w-75'}) %>
                        </li>
                      <%# end %>
                    <%# end %>
                  <%# end %>
                <%# end %>
              </ul>
            <%# end %>
          </li>
      <%#end %>
    </ul> -->
<%# end %>
<div class="mobile-menu">
  <div class="menu-scroll">
    <div class="sub-menu-header d-flex align-items-center">
      <div class="left d-flex align-items-center flex-fill text-uppercase">Home</div>
      <div class="right d-flex align-items-center flex-fill"><a href="#">Log in</a><a href="#" class="btn">or <em class="text-uppercase">Register</em></a></div>
    </div>
    <div id="menu">
      <% user_taxons = spree_current_user.present? ? spree_current_user.taxons : [] %>
      <% if user_taxons.present? %>
        <ul class="product-menu">
          <% user_taxons.in_groups_of(3) do |categories|%>
            <% categories.compact.each do |category| %>
              <li>
                <%= link_to category.name, seo_url(category) %>
                <% if category.children.present? %>
                  <% category.children.each do |children| %>
                    <ul>
                      <li><%= link_to children.name, seo_url(children) %></li>
                    </ul>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="sub-menu-wrap">
      <ul class="sub-menu">
        <li><a href="#" class="menuLink">Information</a>
          <div  class="sub-menu-lists">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">New Products</a></li>
            </ul>
            <ul>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms And Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Returns &amp; Replacements</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#" class="menuLink">Product Info</a>
          <div  class="sub-menu-lists">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">New Products</a></li>
            </ul>
            <ul>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms And Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Returns &amp; Replacements</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="sub-menu-footer d-flex align-items-center">
      <div class="footer-phone"><a href="tel:1-714-744-3700">1-714-744-3700</a></div>
      <div class="footere-business-hours">
        <p>8:00 am - 5:00 pm,<br>
          Monday - Friday, Pacific Time</p>
      </div>
    </div>
  </div>
</div> 

