<div class="mobile-menu">
  <div class="menu-scroll">
     <div class="sub-menu-header d-flex align-items-center">
        <div class="left d-flex align-items-center flex-fill text-uppercase">Home</div>
        <div class="right d-flex align-items-center flex-fill"><a href="#">Log in</a><a href="#" class="btn">or <em class="text-uppercase">Register</em></a></div>
     </div>
     <div id="menu">
        <ul class="product-menu">
           <li>
              <a href="#">Extracts &amp; Flavorings</a>
              <ul>
                 <li><a href="#">Extracts &amp; Flavorings</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">Fragrances</a>
              <ul>
                 <li><a href="#">See All Fragrances</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">Syrups</a>
              <ul>
                 <li><a href="#">See All Syrups</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">Baking Ingredients</a>
              <ul>
                 <li><a href="#">See All Baking Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">Drinks</a>
              <ul>
                 <li><a href="#">See All Drinks</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">More</a>
              <ul>
                 <li><a href="#">See All More</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
           <li>
              <a href="#">Deals</a>
              <ul>
                 <li><a href="#">See All Deals</a></li>
                 <li><a href="#">Gluten Free Baking</a></li>
                 <li><a href="#">Ingredients</a></li>
                 <li><a href="#">Gluten Free Baking Mix</a></li>
                 <li><a href="#">Organic Gluten Free Baking</a></li>
              </ul>
           </li>
        </ul>
     </div>
     <div class="sub-menu-wrap">
        <ul class="sub-menu">
           <li>
              <a href="#" class="menuLink">Information</a>
              <div  class="sub-menu-lists">
                 <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">New Products</a></li>
                 </ul>
                 <ul>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms And Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Returns &amp; Replacements</a></li>
                 </ul>
              </div>
           </li>
           <li>
              <a href="#" class="menuLink">Product Info</a>
              <div  class="sub-menu-lists">
                 <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">New Products</a></li>
                 </ul>
                 <ul>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms And Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Returns &amp; Replacements</a></li>
                 </ul>
              </div>
           </li>
        </ul>
     </div>
     <div class="sub-menu-footer d-flex align-items-center">
        <div class="footer-phone"><a href="tel:1-714-744-3700">1-714-744-3700</a></div>
        <div class="footere-business-hours">
           <p>8:00 am - 5:00 pm,<br>
              Monday - Friday, Pacific Time
           </p>
        </div>
     </div>
  </div>
</div>