<!-- <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="search-bar" data-hook>
      <%#= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>  
   -->
  
  
  
  <nav class="navbar navbar-expand-xl">
    <div class="row no-gutters w-100">
      <div class="col-xl-2">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.svg', alt: "Nature's Flavors" %>
        <% end %>
      </div>
      <div class="col-xl-10 position-static">
        <div class="navbar-collapse">
          <ul class="navbar-nav tablet-hide">
            <li class="nav-item"><a class="nav-link" href="#">Extracts &amp; Flavorings</a>
              <div class="dropdown-menu-wrap">
                <div class="row no-gutters">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-7 has-gridlines">
                    <div class="row no-gutters">
                      <div class="col">
                        <ul class="dropdown-menu d-flex flex-column">
                          <li><a href="#">Flavor Extracts<span class="badge popular-badge">Popular</span></a></li>
                          <li><a href="#">Flavor Concentrate</a></li>
                          <li><a href="#">Flavor Compounds</a></li>
                          <li><a href="#">Flavor Emulsions</a></li>
                          <li><a href="#">Flavor Powsers<span class="badge popular-badge">Popular</span></a></li>
                          <li><a href="#">Flavor Oils OILS</a></li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="dropdown-menu d-flex flex-column">
                          <li><a href="#">Vanilla Extracts</a></li>
                          <li><a href="#">Flavoring for Ice Cream</a></li>
                          <li><a href="#">Flavoring for Water</a></li>
                          <li><a href="#">Flavoring for Coffee &amp; Tea</a></li>
                          <li><a href="#">Flavoring for Lip Balm</a></li>
                          <li><a href="#">Flavoring for Chocolate</a></li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="dropdown-menu d-flex flex-column">
                          <li><a href="#">Keto Friendly Flavors</a></li>
                          <li><a href="#">TTB Approved Flavors</a></li>
                          <li><a href="#">Flavors without Diacetyl</a></li>
                          <li><a href="#">Flavors sample packs</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Fragrances</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Syrups</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Baking Ingredients</a></li>
            <li class="nav-item"><a class="nav-link" href="#">More</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><strong>Logout</strong></a></li>
          </ul>
          <div class="quick-menu ml-auto">
            <%= render partial: 'spree/shared/search' %>
            <a class="nav-search tablet-visible" href="#"><span>Find</span></a> <a class="nav-profile tablet-hide" href="#"><span>Log In</span></a> <a class="nav-cart" href="#"><span>Cart</span><small class="cart-counter">4</small></a> <a class="mobile-menu-link collapsed tablet-visible" href="#" data-toggle="collapse" data-target=".mobile-menu" area-expanded="false"><span>Menu</span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>