<div class="col col-12">
<div class="product-wrap">
<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<%= link_to url do %>
  <% cache [common_product_cache_keys, product] do %>
    <div class="product-img">
    <%= plp_and_carousel_image(product, image_class) %>
    </div>
    <div>
    <div class="product-desc">
    <h4><%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %></h4>
  </div>
      <div class="product-component-price"><%= display_price(product) %></div>
    </div>
  <% end %>
<% end %>
