<%= form_tag search_path, method: :get , id:'global-search-button' do%>
  <div class="header-search tablet-hide">
    <span class="search-custom-btn"></span>
    <%= search_field_tag :keywords,
                        params[:keywords],
                        placeholder: Spree.t(:search),
                        title: Spree.t(:search),
                        class: " form-control search-keywords",      
                        autofocus: false,
                        'aria-label': Spree.t(:search)%>         
  </div>
  <a class="nav-search tablet-visible search-keywords" href="#" data-turbolinks="false"><span>Find</span></a> 
<% end %>