<aside class="cart-sidebar-wrapper">
  <div class="overlay"></div>
  <div class="cart-sidebar">
    <div class="cart-sidebar-header">
      <div class="cart-sidebar-title">My Cart</div>
      <button type="button" class="btn close-sidebar-btn">Close</button>
    </div>
    <div class="cart-sidebar-body d-flex flex-column justify-content-between">
      <ul class="cart-items">
        <li class="cart-item">
          <button type="button" class="btn btn-primary remove-btn">Close</button>
          <a href="#" class="thumbnail">
            <!-- <img src="assets/images/product-thumb-1.jpg" alt="product thumbnail"> -->
            <%= image_tag('product-thumb-1.jpg') %>
          </a>
          <div class="cart-item-details d-flex flex-column justify-content-between">
            <h4><a href="#">Sample Pack of Flavor Powder</a></h4>
            <select class="custom-select qty-dropdown">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
            <div class="price-size text-right"><span>2 x .24</span>.48</div>
          </div>
        </li>
        <li class="cart-item">
          <button type="button" class="btn btn-primary remove-btn">Close</button>
          <a href="#" class="thumbnail">
            <%= image_tag('product-thumb-2.jpg') %>
          </a>
          <div class="cart-item-details d-flex flex-column justify-content-between">
            <h4><a href="#">Sample Pack of Flavor Powder</a></h4>
            <select class="custom-select qty-dropdown">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
            <div class="price-size text-right"><span>2 x .24</span>.48</div>
          </div>
        </li>
        <li class="grand-total d-flex align-items-center justify-content-between">Total:<strong>$52.87</strong></li>
      </ul>
      <div class="body-sidebar-footer">
        <div class="cart-similar-item">
          <div class="wrap">
            <p>You might need this:</p>
            <div class="similar-item-thumb"><a href="#"><img src="assets/images/product-thumb-1.jpg" alt=""></a></div>
            <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
            <a href="#" class="btn btn-primary">$14.70  - Add to Cart</a> </div>
        </div>
        <button type="button" class="btn btn-primary btn-block"><strong>$52.87 - Check Out</strong></button>
      </div>
    </div>
  </div>
</aside>