<div class="body-sidebar-footer">
    <div class="cart-similar-item">
    <div class="wrap">
        <p>You might need this:</p>
        <div class="similar-item-thumb"><%= image_tag "product-thumb-1.jpg", alt:"" %></div>
        <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
        <a href="#" class="btn btn-primary">$14.70  - Add to Cart</a> </div>
    </div>
    <%= link_to spree.checkout_path do %>
        <button type="button" class="btn btn-primary btn-block"><strong class="js-order-total"><%= @order.display_total %> - Check Out</strong></button>
    <% end %>
</div>