    <div class="top-bar">
      <div class="container-fluid">
        <ul class="sister-sites-list">
          <li><a href="https://www.naturesflavors.com" class="natures-logo" target="_blank">Natures Flavors</a></li>
          <li><a href="https://www.naturlax.com" class="naturlax-logo" target="_blank"">Naturlax</a></li>
          <li><a href="https://www.seelecttea.com" class="seelect-logo" target="_blank">Seelect Tea</a></li>
          <li><a href="https://www.yummatchatea.com" class="yummatcha-logo" target="_blank">Yummatcha</a></li>
        </ul>
<%
=begin
        <div class="shipping-info-banner">Free shipping on all orders over $35</div>
        <button type="button" class="toogle-banner-btn visible-xs">Toggle Banner</button>
=end
%>
      </div>
    </div>