<% if slides.size > 0 %>
  <% cache cache_key_for_sliders(slides) do %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" <%= (defined? interval) != nil ? "data-interval=#{interval.to_s}" : "" %>>
      <div class="carousel-inner">
        <% slides.each_with_index do |slide, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%
              if (browser.device.mobile?)
                image_url = slide.slide_mobile_image ? slide.my_cf_mobile_image_url : "noimage/large"
              else
                image_url = slide.slide_image ? slide.my_cf_desktop_image_url : "noimage/large"
              end
            %>
            <%= link_to image_tag(image_url, alt: slide.slide_name,class:'w-100'), url_for(slide.slide_link)  %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% end %>
<% end %>
