<% max_level = 3 %>

<% if taxon.present? %>
  <% cache [I18n.locale, max_level, taxon] do %>
    <% if taxon.children.any? %>
      <%= taxons_tree(taxon, taxon, max_level) %>
    <% else %>
      <ul class="sidebar-sub-categories">
        <li>
          <%= link_to taxon.name, seo_url(taxon) %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <% all_categories = Spree::Taxonomy.all %>
  <% if all_categories.present? %>
    <% all_categories.each do |taxonomy| %>
      <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
        <%= link_to taxonomy.name, seo_url(taxonomy) %>
        <% if taxonomy.root.children.any? %>
          <%= taxons_tree(taxonomy, @taxon, max_level) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>  
<% end %>
