 <!-- <fieldset id="password-credentials">
  <div class="form-group">
    <%#= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
  </div>
  <hr />   
  <div class="form-group">
    <%#= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
 </div> 
  <div class="form-group">
    <%#= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
  </div> 
</fieldset>
<div data-hook="signup_below_password_fields"></div>  -->
<h1 class="title mb-0">Registration</h1>
<div class="sm-title mb-20">It looks like you’re new here. We need a bit more info...</div>
<fieldset id="password-credentials">
  <div class="form-group mb-20">
     <%= f.email_field :email, :class => 'form-control username-control', :placeholder => Spree.t(:email) %>
     <div class="invalid-feedback d-none">
        <p>Please enter valid email address!</p>
     </div>
  </div>
  <div class="form-group mb-20">
     <%= f.password_field :password, :class => 'form-control password-control', :placeholder => Spree.t(:password) %>
     <div class="password-hint">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>
  </div>
  <div class="form-group mb-20">
     <%= f.password_field :password, :class => 'form-control password-control', :placeholder => Spree.t(:confirm_password) %>
  </div>
</fieldset>
<div data-hook="signup_below_password_fields"></div>