<div class="faqs-wrapper">
   <div class="row no-gutters">
      <div class="col-lg-4">
         <div class="faqs-title-wrap d-lg-flex flex-column align-items-end">
            <div class="title">FAQ</div>
            <div class="sm-title">All your questions about Flavorings, Extracts, Syrups and Fragrances answered.</div>
            <a href="#" class="btn"><span>Visit our FAQ Center</span></a> 
         </div>
      </div>
      <div class="col-lg-8">
         <div class="accordion" id="faqaccordion">
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Are your products certified organic?</button>
                  </h2>
               </div>
               <div id="collapseOne" class="collapse show" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo">What are Natural Extracts?</button>
                  </h2>
               </div>
               <div id="collapseTwo" class="collapse" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree">What are Flavor Concentrates?</button>
                  </h2>
               </div>
               <div id="collapseThree" class="collapse" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour">What are Flavor Oils?</button>
                  </h2>
               </div>
               <div id="collapseFour" class="collapse" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive">What are Flavor Powders?</button>
                  </h2>
               </div>
               <div id="collapseFive" class="collapse" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix">What are Flavor Emulsions?</button>
                  </h2>
               </div>
               <div id="collapseSix" class="collapse" data-parent="#faqaccordion">
                  <div class="card-body">We carry many certified organic products! Our organic products are certified by Organic Certifiers (www.OrganicCertifiers.com). All of our organic products are clearly labeled such.</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>