<div class="category-filters-wrap d-lg-block d-none">
  <div class="row align-items-center">
    <div class="col-xl-7 col-lg-6 d-flex align-items-center">
      <div class="shop-by-filter d-xl-flex align-items-center">
        <label>Shop by Flavor:</label>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Flavors</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="shop-by-filter d-xl-flex align-items-center">
        <label>Shop by Type:</label>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Types</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-6">
      <div class="sorting-filter d-flex align-items-center justify-content-end">
        <label>Sort by:</label>
        <button type="button" class="active">Popular</button>
        <button type="button" class="">Alphabetical Order</button>
        <button type="button" class="">Best Sellers</button>
      </div>
    </div>
  </div>
</div>
<div class="category-mobile-filter phone-visible">
  <div class="d-flex align-items-center">
    <div class="sort-by-title flex-fill">
      <p>Sort by: <strong>Alphabetical Order</strong></p>
    </div>
    <div class="filter-btn-wrap"> <a href="#" class="filter-btn">Filters</a> </div>
  </div>
  <div class="shop-by-filter-mobile">
    <div class="shop-by-filter text-center">
      <label>Shop by Flavor:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Flavors</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="shop-by-filter text-center">
      <label>Shop by Type:</label>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown">All Types</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block">Apply</button>
  </div>
</div>