<div class="text-block">
    <a href="<%= slide.link_url %>" title="<%= slide.body %>">
        <h3><%= slide.name.html_safe %></h3>
        <span role="button"><%= slide.body.html_safe %></span>
    </a>
</div>
