<div class="home-intro-wrapper">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-2 tablet-hide"></div>
         <div class="col-xl-6 col-lg-8">
            <div class="intro-wrap">
               <div class="gmp-certificate"></div>
               <h1>Natural and Organic Flavorings, Extracts, Syrups, and Fragrances</h1>
               <p><strong>Nature’s Flavors</strong> is where Mother Nature meets your kitchen. Our natural and organic flavorings are derived from the most remarkable fruits, vegetables, and herbs the earth has to offer. All of our products are made-to-order and delivered to your doorstep.</p>
               <a href="#" class="btn btn-primary"><span>Read More</span></a> 
            </div>
         </div>
         <div class="col-xl-4 col-lg-4">
            <div class="company-highlights-wrapper">
               <div class="company-highlights d-flex align-items-start mb-60"  data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                  <div class="icon-wrap delivery-icon"></div>
                  <div class="flex-fill">
                     <h4>FAST SHIPPING IN THE U.S.</h4>
                     <p>1 to 3 days processing time for all non-commercial orders</p>
                     <p><small>Nature’s Flavors defines commercial based on order over 1 gallon. Pending availability.</small></p>
                  </div>
               </div>
               <div class="company-highlights d-flex align-items-start mb-60" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                  <div class="icon-wrap quality-icon"></div>
                  <div class="flex-fill">
                     <h4>HIGH QUALITY PRODUCTS</h4>
                     <p>Ingredients sourced from the best producers</p>
                  </div>
               </div>
               <div class="company-highlights d-flex align-items-start mb-60" data-aos="fade-up" data-aos-once="true" data-aos-duration="1300">
                  <div class="icon-wrap customer-support-icon"></div>
                  <div class="flex-fill">
                     <h4>PROMPT CUSTOMER SUPPORT</h4>
                     <p>A Professional, Knowledgeable Team</p>
                     <p><a href="tel:(714) 744-3700">(714) 744-3700</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>