<div class="products-wrapper">
   <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-6 col-lg-8">
         <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#bestSellers">Best Sellers</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#deals">Deals</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#popularExtracts">Popular Extracts</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#popularPowders">Popular Powders</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#popularOils">Popular Oils</a></li>
         </ul>
      </div>
   </div>
   <div class="tab-content">
      <div class="tab-pane fade show active" id="bestSellers" role="tabpanel">
         <div class="row no-gutters">
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-1.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Amaretto Cappuccino Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-2.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="1000">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-3.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="1300">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-4.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acerola Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="1700">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-5.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acorn Flavored Powder, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="2000">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-6.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Alfredo Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane fade" id="deals" role="tabpanel">
         <div class="row no-gutters">
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-1.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Amaretto Cappuccino Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-2.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-3.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-4.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acerola Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-5.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acorn Flavored Powder, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-6.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Alfredo Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane fade" id="popularExtracts" role="tabpanel">
         <div class="row no-gutters">
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-1.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Amaretto Cappuccino Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-2.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-3.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-4.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acerola Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-5.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acorn Flavored Powder, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-6.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Alfredo Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane fade" id="popularPowders" role="tabpanel">
         <div class="row no-gutters">
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-1.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Amaretto Cappuccino Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-2.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-3.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-4.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acerola Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-5.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acorn Flavored Powder, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-6.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Alfredo Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane fade" id="popularOils" role="tabpanel">
         <div class="row no-gutters">
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-1.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Amaretto Cappuccino Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-2.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-3.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acai Compound, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-4.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acerola Compound, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-5.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Acorn Flavored Powder, Natural</h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
               <div class="product-wrap">
                  <a href="#">
                     <div class="product-img">
                        <img src="assets/images/product-thumb-6.jpg" alt="">
                        <div class="price">$53.95</div>
                     </div>
                     <div class="product-desc">
                        <h4>Alfredo Flavor Concentrate, Organic</h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>