<div class="search-wrapper">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-xl-2 tablet-hide"></div>
         <div class="col-xl-6 col-lg-8">
            <div class="search-wrap">
               <input type="text" class="form-control" placeholder="Search for flavors and more…">
               <button type="submit" class="btn btn-primary">Search</button>
               <div class="search-tags d-flex align-items-start">
                  <label>Top Searches:</label>
                  <div class="flex-fill"> <a href="#">Organic Tapioca Syrup</a><a href="#">Blue Raspberry Extract</a><a href="#">Vanilla Flavor Powder</a><a href="#">Coconut Extract</a> </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 phone-hide">
            <div class="search-tagline">Enjoy flavoring and fragrances the way nature intended!</div>
         </div>
      </div>
   </div>
</div>