<div class="hero-banner">
   <picture>
      <source media="(max-width:991px)" srcset="assets/images/hero-banner-mobile.jpg">
      <%= image_tag 'hero-banner.jpg', alt: "Flowers", class:"d-block w-100" %>
   </picture>
    <div class="banner-grid-wrap">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>