<% content_for :head do %>
  <%= pagy_rel_next_prev_link_tags @pagy %>
<% end %>
<% cache [@all_categories,  @products] do %>
  <div class="deals-wrapper">
    <div class="title-wrap text-center">
      <div class="sm-title">Weekly savings on flavors, aromas, and natural ingredients.</div>
      <h1 class="title">Nature's Flavors <span>Deals</span></h1>
    </div>
    <div class="products-wrapper">
      <%= render partial: 'spree/taxons/filters' %>
      <div class="row no-gutters" data-hook="taxon_products">
        <%= render partial: 'spree/shared/sale_products', locals: { pagy: @pagy, products: @products }%>
      </div> 
    </div>
    <div class="title-wrap text-center">
      <h1 class="title">Don’t Miss Out on <span>Savings</span></h1>
      <div class="sm-title">Subscribe below to be the first to hear about our natural flavoring deals.</div>
    </div>
  </div>
<% end %>