<% @body_id = 'login' %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<% if flash.present? %>
  <%= flash_messages %>
<% end %>
<main class="page-contents">
  <div class="signin-wrapper">
     <div class="row no-gutters">
        <div class="col-lg-6">
           <div id="existing-customer"  data-hook="login">
              <%= render :partial => 'spree/shared/login' %> 
           </div>
           <div data-hook="login_extras"></div>
        </div>
        <%= render :partial => 'spree/shared/deals_blog' %> 
     </div>
  </div>
</main>